#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_RAJMUDRAd += debian/examples/*
DEB_INSTALL_MANPAGES_RAJMUDRAd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix RAJMUDRAd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f RAJMUDRA-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake RAJMUDRA-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/RAJMUDRAd:
	chmod +x $(cdbs_curdestdir)usr/bin/RAJMUDRAd
binary-post-install/RAJMUDRA-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/RAJMUDRA-qt
